body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

#main{
	z-index: 1;
}

.node {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5) ;
  z-index: 10;
}
.node_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  margin: auto;
  background: white;
}

.node_button{
  padding: 0 !important;
  border: none !important;
  background: #E8E8E8 !important;
}

